<!doctype html>

<h1 align="center">INSERT DATA</h1>
    <form action="/post" method="POST">
    <input type="text" name="id"></input>
    <input type="text" name="string"></input>
    <input type="submit" value="POST"></input>
</form>
<hr>
<h1 align="center">CURRENT DATABASE</h1>
<style type="text/css">
   TABLE {
    width: 500px;
    border: 3px solid #000000;
   }
   THEAD {
    background: #DCDCDC  ;
   }
   TD {
    padding: 3px;
    text-align: left;
   }

 </style>
<table>
    <thead>
		<tr>
			<th>ID</th>
            <th>STRING</th>
		</tr>
	</thead>
    <tbody>
        {% for item in results %}
		<tr>
			<td>{{ item.id }}</td>
			<td>{{ item.string }}</td>
		</tr>
        {% endfor %}
	</tbody>
</table>


